body{
    background-color: #000321;
    color: #ffffff;
}

.text{
    color: #6c757d;
}

.text-solid{
    color: #ffffffa6;
}

.link-solid{
    color: #ffffff;
}

h1.chart-title{
    margin-top: 110px;
}

nav.bg-solid{
    background-color: #000321;
    /*border-bottom: 1px groove;*/
}

/* Video rows */
.videoWrapper{
    margin: 10px 0;
}

.video-item{
    margin-top: 70px;
}
/* *********** */

/* Pagination */
.step-links{
    margin: 20px 0;
}

.step-links>.btn{
    margin-left: 5px;
    margin-right: 5px;
}
/* *********** */

/* Statistics */
.btn-outline-dark{
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-dark:disabled{
    opacity: 1;
    border-color: #ffffff00;
    color: #ffffff;
}

.badge-light{
    color: #ffffff;
    background-color: #00032100;
}
/* *********** */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    .video-item{
        margin-top: 50px;
    }

    h1.chart-title{
        margin-top: 100px;
    }
}

@media (max-width: 991.98px) {
    /* Desktop(lg, xl): */
    .invisible-on-medium-down{
        display: none;
    }
}
