.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #000321;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.text {
  color: #6c757d;
}

.text-solid {
  color: #ffffffa6;
}

.link-solid {
  color: #ffffff;
}

h1.chart-title {
  margin-top: 110px;
}

nav.bg-solid {
  background-color: #000321;
  /*border-bottom: 1px groove;*/
}

/* Video rows */
.videoWrapper {
  margin: 10px 0;
}

.video-item {
  margin-top: 70px;
}

/* *********** */

/* Pagination */
.step-links {
  margin: 20px 0;
}

.step-links>.btn {
  margin-left: 5px;
  margin-right: 5px;
}

/* *********** */

/* Statistics */
.btn-outline-dark {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-dark:disabled {
  opacity: 1;
  border-color: #ffffff00;
  color: #ffffff;
}

.badge-light {
  color: #ffffff;
  background-color: #00032100;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

/* *********** */

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .video-item {
    margin-top: 50px;
  }

  h1.chart-title {
    margin-top: 100px;
  }
}

@media (max-width: 991.98px) {

  /* Desktop(lg, xl): */
  .invisible-on-medium-down {
    display: none;
  }
}