{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="chart-title"></div>
<br/>
<br/>
<br/>
<div class="row">
    <div class="col-12">
        <a href="#">
        <img src="{% static "images/icons/logo-with-text.svg" %}" class="card-img-top" alt="Logo">
        </a>
    </div>
</div>
<br/>
<br/>
<div class="row text">
    <div class="col-12">
    <p class="lead">
        {% blocktrans %}
            This web site allows you to view {{ top_yt_video_charts }} for free.
            Why I have created this project? Well, I had an idea to lead an own blog in {{ telegram_channel }}
            The blog is about IT, parties, life in the Netherlands and Ukraine, life hacks etc. I don't want to limit
            myself with 1 subject, but also I don't write posts about every move I do during the day.
            Sometimes I might have no time to write posts or might not have good mood for it, but still I want
            to be in contact with you, subscriber. For this purpose I have created a Telegram Bot
            which every week makes a post with a list of {{ weekly_top_video_chart }} So, even if there are no posts
            from me you get weekly {{ yt_music_videos }} chart updates.
            Subscribe to my {{ telegram_channel }} I think you'll like it.
      {% endblocktrans %}
    </p>
    <p class="lead">
        {% blocktrans %}
            I was need to practice on creating a {{ top_yt_video_charts }} and view results and so I created this web site.
            Also it was interesting to me which {{ yt_music_videos }} are most viewed?!
            There are several web sites that show such info but all of them have lots of advertisements,
            haven't been updated for a long time and have only few videos in the chart.
            I have decided to fix it and so created {{ all_time_music_videos }} chart on my web site too.
            At some point I was not able to stop myself in developing the web site as it was fun and
            challenging. On this project I have practiced few technologies that I haven't used before, for example,
            {{ pwa }} and multi threading. Thanks {{ olha_linkedin }} for the web design and logo.
        {% endblocktrans %}
    </p>
    <p class="lead">
        {% blocktrans %}
            I generate {{ yt_video_charts_link }} once per month in different dates as YouTube limits daily API requests.
            TopChart algorithm is based on total views and date when video was published. Sometimes video may have more
            views but stay lower than video with less views.
            Hope you will enjoy the website as much as I do. Thanks for viewing the web site. You may contact me via
            {{ linkedin_url }} and/or subscribe on my {{ telegram_channel }} and {{ instagram_url }}
        {% endblocktrans %}
    </p>
    <p class="lead text-right">
        {% trans "Best regards," %} Andrew
    </p>
    </div>
</div>

{% endblock content %}
