<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ meta_description }}">
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Andrew Voronov">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- PWA -->
    <!-- Path to manifest.json -->
    <link rel="manifest" href="{% static "/manifest.json" %}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Top Charts">

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#000321">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Top Charts">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="apple-touch-icon" href="{% static "/images/icons/icons-192.png" %}" sizes="">
    <link rel="apple-touch-icon" href="{% static "/images/icons/icons-512.png" %}" sizes="">
    <link href="{% static "/images/icons/icons-512.png" %}" rel="apple-touch-startup-image">
    <!-- iPhone Xs Max (1242px x 2688px) -->
    <link rel="apple-touch-startup-image"
          media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
          href="{% static "/images/icons/icons-512.png" %}">
    <!-- iPhone Xr (828px x 1792px) -->
    <link rel="apple-touch-startup-image"
          media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
          href="{% static "/images/icons/icons-512.png" %}">
    <!-- iPhone X, Xs (1125px x 2436px) -->
    <link rel="apple-touch-startup-image"
          media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
          href="{% static "/images/icons/icons-512.png" %}">
    <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
    <link rel="apple-touch-startup-image"
          media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)"
          href="{% static "/images/icons/icons-512.png" %}">
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
    <link rel="apple-touch-startup-image"
          media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
          href="{% static "/images/icons/icons-512.png" %}">
    <!-- iPad Pro 12.9" (2048px x 2732px) -->
    <link rel="apple-touch-startup-image"
          media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
          href="{% static "/images/icons/icons-512.png" %}">
    <!-- iPad Pro 11” (1668px x 2388px) -->
    <link rel="apple-touch-startup-image"
          media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
          href="{% static "/images/icons/icons-512.png" %}">
    <!-- iPad Pro 10.5" (1668px x 2224px) -->
    <link rel="apple-touch-startup-image"
          media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
          href="{% static "/images/icons/icons-512.png" %}">
    <!-- iPad Mini, Air (1536px x 2048px) -->
    <link rel="apple-touch-startup-image"
          media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
          href="{% static "/images/icons/icons-512.png" %}">

    <!-- Tile for Win8 -->
    <meta name="msapplication-TileColor" content="#000321">
    <meta name="msapplication-TileImage" content="{% static "/images/icons/icons-512.png" %}">

    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('/sw.js').then(function(registration) {
              // Registration was successful
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
              // registration failed :(
              console.log('ServiceWorker registration failed: ', err);
            });
          });
        }
    </script>
    <!-- *************************** -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27163435-8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-27163435-8');
    </script>

    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">

    <!-- 3-rd party JS and CSS -->
    <script src="https://kit.fontawesome.com/a80633824a.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
            integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>

    <!-- Local static files -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>

<div class="container">
    {% url 'charts:index' as home_url %}
    {% url 'charts:top-ru-music-videos' as top_ru_videos %}
    {% url 'charts:top-all-time-music-videos' as top_at_videos %}
    {% url 'charts:top-movie-trailers' as top_trailers %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-solid fixed-top">

        <a class="navbar-brand" href="/" aria-label="Top Charts Logo">
            <img src="{% static "images/icons/logo-with-text.svg" %}" alt="Top Charts" height="40px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                    <a class="nav-link" href="{{ home_url }}">Worldwide Music</a>
                </li>
                <li class="nav-item invisible-on-medium-down">
                    <a class="nav-link" href="#" aria-label="Separator">|</a>
                </li>
                <li class="nav-item {% if request.path == top_ru_videos %}active{% endif %}">
                    <a class="nav-link" href="{{ top_ru_videos }}">Russian Music</a>
                </li>
                <li class="nav-item invisible-on-medium-down">
                    <a class="nav-link" href="#" aria-label="Separator">|</a>
                </li>
                <li class="nav-item {% if request.path == top_at_videos %}active{% endif %}">
                    <a class="nav-link" href="{{ top_at_videos }}">All Time Music</a>
                </li>
                <li class="nav-item invisible-on-medium-down">
                    <a class="nav-link" href="#" aria-label="Separator">|</a>
                </li>
                <li class="nav-item {% if request.path == top_trailers %}active{% endif %}">
                    <a class="nav-link" href="{{ top_trailers }}">Movie Trailers</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</div>


<nav class="navbar navbar-expand navbar-dark bg-solid">
    <div class='container'>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav w-100 nav-justified">
                <li class="nav-item active">
                    <a class="nav-link"
                       href="{% url 'about' %}"
                       rel="noreferrer"
                       aria-label="About Top Charts project">
                        <i class="far fa-2x fa-address-card"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"
                       href="https://t.me/dude007_channel"
                       rel="noreferrer"
                       target="_blank"
                       aria-label="Telegram channel dude007">
                        <i class="fab fa-2x fa-telegram-plane"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"
                       href="https://www.linkedin.com/in/anvoronov/?locale=en_US"
                       rel="noreferrer"
                       target="_blank"
                       aria-label="LinkedIn">
                        <i class="fab fa-2x fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       href="https://www.instagram.com/voronov.a.g/"
                       aria-label="Subscribe to my Instagram account"
                       rel="noreferrer"
                       target="_blank">
                        <i class="fab fa-2x fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% block additional_scripts %}
{% endblock %}
</body>
</html>
