{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<h1 class="text-center chart-title">{{ h1 }}</h1>
    <br/>
    <br/>
<div class="row">
<div class="col-12">
    <img src="{% static "images/icons/logo-with-text.svg" %}" class="card-img-top" alt="Logo">
</div>
</div>
    <br/>
    <br/>
<div class="row">
<div class="col-12">
    <p class="text-center alert alert-danger" role="alert">{{ text }}</p>
</div>
</div>
{% endblock content %}
