{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<table class="table" style="background-color:white;margin-top:70px;">
  <thead>
    <tr>
      <th scope="col">Position New</th>
      <th scope="col">Position Old</th>
      <th scope="col">Title</th>
      <th scope="col">URL</th>
      <th scope="col">Sort Value</th>
      <th scope="col">Views</th>
      <th scope="col">VPD</th>
      <th scope="col">Likes</th>
      <th scope="col">Dislikes</th>
    </tr>
  </thead>
  <tbody>
    {% for v in videos %}
    <tr>
      <td>{{ v.new_position }}</td>
      <td>{{ v.position }}</td>
      <td>{{ v.title }}</td>
        <td><a href="{{ v.url }}">{{ v.url }}</a></td>
      <td>{{ v.sort_value }}</td>
      <td>{{ v.views_str }}</td>
      <td>{{ v.vpd_str }}</td>
      <td>{{ v.likes }}</td>
      <td>{{ v.dislikes }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}
