{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="text-center chart-title">{{ top_title }}</h1>
<h2 class="text-center">
    {% trans "Generated" %}: {{ chart.name }}
    <a href="#collapseExample"
       aria-label="Collapsed text"
       data-toggle="collapse"
       data-target="#collapseExample"
       aria-expanded="false"
       aria-controls="collapseExample"><i class="far fa-question-circle"></i>
    </a>
</h2>

<div class="row">
    <div class="col-12">
        <div class="collapse" id="collapseExample">
            <div class="alert alert-light" role="alert">
                {{ help_text }}
            </div>
        </div>
    </div>
</div>

{% for item in items %}
<div class="video-item">
    <div class="row">
        <div class="col-12">
            <h4><span class="badge badge-dark">{{ item.position }}</span> {{ item.title}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="videoWrapper embed-responsive embed-responsive-16by9">
                <iframe
                        class="embed-responsive-item"
                        width="560" height="315"
                        src="https://www.youtube-nocookie.com/embed/{{ item.video_id }}"
                        title="{{ item.title}}"
                        frameborder="0"
                        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right video-statistics">
            <button type="button" class="btn btn-outline-dark" disabled>
                <i class="fas fa-upload"></i> <span class="badge badge-light">{{ item.published_at|date:'d b Y'|title }}</span>
            </button>
            <button type="button" class="btn btn-outline-dark" disabled>
                <i class="fas fa-chart-line"></i> <span class="badge badge-light">{{ item.rank_str }}</span>
            </button>
            <button type="button" class="btn btn-outline-dark" disabled>
                 <i class="far fa-eye"></i> <span class="badge badge-light">{{ item.views_str }}</span>
            </button>
            <button type="button" class="btn btn-outline-dark" disabled>
                <i class="far fa-thumbs-up"></i> <span class="badge badge-light">{{ item.likes_str }}</span>
            </button>
            <button type="button" class="btn btn-outline-dark" disabled>
                <i class="far fa-thumbs-down"></i> <span class="badge badge-light">{{ item.dislikes_str }}</span>
            </button>
            <a class="btn btn-outline-dark"
               href="{{ item.url }}"
               aria-label="Watch on YouTube {{ item.title}}"
               rel="noreferrer"
               target="_blank">
                <i class="fas fa-external-link-square-alt"></i> Watch <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</div>
{% endfor %}


{#<p class="text-center step-links">#}
{#    {% if items.has_previous %}#}
{#        <a href="?page=1">&laquo; {{ _("first") }}</a>#}
{#        <a href="?page={{ items.previous_page_number }}">{{ _("previous") }}</a>#}
{#    {% endif %}#}
{##}
{#    {% if items.paginator.num_pages > 1 %}#}
{#        <span class="current">#}
{#            {{ _("Page") }} {{ items.number }} {{ _("of") }} {{ items.paginator.num_pages }}#}
{#        </span>#}
{##}
{#        {% if items.has_next %}#}
{#            <a href="?page={{ items.next_page_number }}">{{ _("next") }}</a>#}
{#            <a href="?page={{ items.paginator.num_pages }}">{{ _("last") }} &raquo;</a>#}
{#        {% endif %}#}
{#    {% endif %}#}
{#</p>#}

<p class="text-center step-links">
{% if items.paginator.num_pages > 1 %}
    {% for page_number in items.paginator.page_range %}
        <a
                href="?page={{ page_number }}"
                aria-label="Page"
                class="btn btn-outline-secondary {% if items.number != page_number %}active{% endif %}">
            {{ page_number }}
        </a>
    {% endfor %}
{% endif %}
</p>


{% endblock content %}
